# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Project Results & Data
results/
data/elliptic/
!data/elliptic/.gitkeep
experiments/logs/

# LaTeX
paper/*.aux
paper/*.log
paper/*.out
paper/*.bbl
paper/*.blg
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz
paper/*.pdf

# System
.DS_Store
