# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Project Results & Data
results/
data/elliptic/
!data/elliptic/.gitkeep
experiments/logs/

# LaTeX & Paper
paper/

# System
.DS_Store
